.root {
	width: 100%;
	max-width: 500px;
	padding: 30px;
	margin: 5vh auto;
}

.title {
	color: #4361ee;
	text-align: center !important;
	font-weight: bold !important;
	margin-bottom: 15px !important;
}

.avatar {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}
