.title {
	input {
		font-size: 32px;
		font-weight: 700;
		@media (max-width: 599.98px) {
			font-size: 25px;
		}
	}

	div {
		&:before,
		&:after {
			display: none;
		}
	}
}

.image {
	display: block;
	margin: 0 auto;
	width: 50%;
	margin-top: 20px;
	border-radius: 20px;
}

.tags {
	margin: 15px 0;
}

.editor {
	margin: 30px 0;

	:global {
		.cm-s-easymde {
			color: inherit;
			background-color: inherit;
			font-size: 22px;
		}
		.editor-toolbar {
			background-color: rgb(140, 102, 102);
		}
	}
	@media (max-width: 899.98px) {
		margin: 20px 0;
	}
	@media (max-width: 599.98px) {
		margin: 10px 0;
	}
}

.buttons {
	display: flex;

	button {
		margin-right: 15px;
	}
}
